<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.example.mapper.UserMapper">
    <select id="getById" parameterType="int" resultType="cn.edu.example.entity.ImcUser">
        SELECT user_nick AS userNick FROM imc_user WHERE user_id = #{userId};
    </select>
</mapper>